<div class="main-container">
  <div class="including">
    <div class="reaching">
      <h1>REACH OUT ME</h1>
    </div>
    <div class="subContainer" >
      <div *ngFor="let item of jsonArray">
        <div class="cards">
          <div class="icon">
            <div [innerHTML]="sanitizeSvgContent(item.image)"></div>
          </div>
          <div>
            <div>
              <h5>{{item.heading}}</h5>
            </div>
            <div>
              <p>{{item.para1}}</p>
              <p>{{item.para2}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="map">
        <h1>Map</h1>
      </div>
    </div>
  </div>
  <div class="including-2">
    <div class="headings">
      <h1>
        Got Ideas? We've got the skills. <br> Let's team up.
      </h1>

      <h6>
        Tell us more about yourself and what you're got in mind.
      </h6>
    </div>
    <div class="form">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">First Name</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="firstName">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Your Email</label>
            <input type="email" class="form-control" id="inputPassword4" placeholder="email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Subject</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>


        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
    </div>


  </div>

</div>

