

<div class="About-remaining">
  <div class="remains">
    <div>
      <h1>
        <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im Rukshan.", "I am Creative.", "I Love Design.", "I Love to Develop." ]'>
          <span class="wrap"></span>
        </a>
      </h1>
      <h1></h1>
    </div>
    <div>
      <h6>I'm a web developer </h6>
      <h6>Software Engineer</h6>
    </div>
    <div>
      <p>
        As a highly motivated second-year undergraduate pursuing a degree in Computer Science who is keen to learn new skills and technologies, I am excited to apply my skills and experience in a real-world IT environment. My passion for technology and my dedication to continuous learning motivates me to join a group of seasoned and experienced IT professionals in the industry respectively.
      </p>
    </div>
    <div>
      <button>Hire me</button>
      <div class="box-3">
        <div class="btn btn-three">
          <span>Download CV</span>
        </div>
      </div>
    </div>

  </div>

  <div class="image-includer">
    <img class="img" src="./assets/developer.webp" alt="">
  </div>

</div>
