

<div class="About-remaining">
  <div class="remains">
    <div class="about_me">
      <h1>
        <p href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im Rukshan Dias.", "I Am A Full Stack Developer.", "I Love Technology.", "I Love Coding." ]'>
          <span class="wrap"></span>
        </p>
      </h1>

    </div>
    <div>
      <p>
        As a highly motivated second-year undergraduate pursuing a degree in Computer Science who is keen to learn new skills and technologies, I am excited to apply my skills and experience in a real-world IT environment. My passion for technology and my dedication to continuous learning motivates me to join a group of seasoned and experienced IT professionals in the industry respectively.
      </p>
    </div>
    <div class="button-includings">
      <button class="glow-on-hover" type="button">HIRE ME!</button>

      <div class="box-3">
        <div class="btn btn-three">
          <span>Download CV</span>
        </div>
      </div>
    </div>

  </div>

  <div class="image-includer">
    <img class="img" src="./assets/developer.webp" alt="">
  </div>

</div>
<script>

</script>
